<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user_email" value="user1@terra.com.br"/>
    <add key="wrong_passwd" value="5v#kaB"/>
    <add key="passwd" value="00000"/>
    <add key="product_id" value="4"/>
    <add key="product_price" value="$50.99"/>
    <add key="shipping_price" value="$2.00"/>
    <add key="total_price" value="$52.99"/>
    <add key="firstname" value="Maria"/>
    <add key="lastname" value="Silva"/>
    <add key="gender" value="mr"/>
    <add key="day_birth" value="10"/>
    <add key="month_birth" value="3"/>
    <add key="year_birth" value="1992"/>
    <add key="street" value="Rua brasil, 296"/>
    <add key="city" value="Guaiba"/>
    <add key="state" value="Colorado"/>
    <add key="zip" value="00000"/>
    <add key="country_id" value="21"/>
    <add key="country_name" value="United States"/>
    <add key="mobile" value="984007100"/>
    
    
  </appSettings>
</configuration>
